{% extends "base.html" %}

{% block title %}Course Registration System{% endblock %}

{% block content %}
<h1>Course Registration System</h1>

<ul>
{% if user.is_authenticated %}
	<li>User: {{ user.get_username }}</li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
</ul>

<hr>

{% if user.is_authenticated %}
	<ul>
	<li><a href="{% url 'catalog' %}">View Course Catalog</a></li>
	{% if perms.courses.course_add %}
		<li><a href="{% url 'create_course' %}">Create Course</a></li>
	{% endif %}
	</ul>
{% endif %}
{% endblock %}
