{% extends "base.html" %}

{% block title %}Course Registration System{% endblock %}

{% load auth_extras %}


{% block content %}
<div class="container-lg pt-3 col-sm-7">
	{% if user.is_authenticated %}
		<div class="container-lg col-sm-7">
		<table class="table table-striped">
			<thead>
			<tr><td><h3>Tasks</h3></td></tr>
			</thead>
			<tbody>
			<tr>
				<td><a href="{% url 'course_list' %}">View Course Catalog</a></td>
				{% if perms.courses.course_add %}
				<td><a href="{% url 'course_create' %}">Create Course</a></td>
				{% endif %}
			</tr>
			<tr>
				<td><a href="{% url 'term_list' %}">View Academic Terms</a></td>
				{% if perms.courses.term_add %}
				<td><a href="{% url 'term_create' %}">Create Academic Term</a></td>
				{% endif %}
			</tr>
			<tr>
				<td><a href="{% url 'courseinstance_list' %}">View Course Instances</a></td>
				{% if perms.courses.course_instance_add %}
				<td><a href="{% url 'courseinstance_create' %}">Create Course Instance</a></td>
				{% endif %}	
			</tr>
			<tr>
				<td><a href="{% url 'course_instances_by_term' %}">Course Offerings by Term</a></td>
			</tr>
			{% if request.user|has_group:"Students" %} 
			<tr>
				<td><a href=#>Enroll in a Course</a></td>
			</tr>							
			{% endif %}
			</tbody>
		</table>

	{% else %}
		<div class="alert alert-primary" role="alert">
		<a href="{% url 'login' %}">Log In</a> to gain access.
		</div>
	{% endif %}
</div>


{% endblock %}
