{% extends "base.html" %}

{% block title %}Course Details{% endblock %}

{% block content %}

	<h1>Course Details</h1>
	
	<table>
	<tr><td>Prefix:</td><td>{{ course.prefix }}</td></tr>
	<tr><td>Number:</td><td>{{ course.number }}</td></tr>
	<tr><td>Title:</td><td>{{ course.title }}</td></tr>
	<tr><td>Description:</td><td>{{ course.description }}</td></tr>
	<tr><td>Credit Hours:</td><td>{{ course.credit_hours }}</td></tr>
	</table>

	<hr>
	<a href="{% url 'update_course' pk=course.id %}">Update Course</a>
	<a href="{% url 'delete_course' pk=course.id %}">Delete Course</a>
	<hr>
	<a href="{% url 'index' %}">Home</a>
	<a href="{% url 'catalog' %}">View Catalog</a>


{% endblock %}

