{% extends "base.html" %}

{% block title %}Academic Terms{% endblock %}

{% block content %}

<div class="container-lg pt-3 col-sm-6">
	<table class="table table-striped">
		<tbody>
			<tr><th>Academic Terms</th></tr>
	
			{% for term in term_list %}
				<tr><td><a href="{% url 'term_detail' pk=term.id %}">{{ term }} </a></td></tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if perms.courses.term_add %}
	<a href="{% url 'term_create' %}" class="btn btn-primary" role="button">Add Term</a>
	{% endif %}	
</div>

{% endblock %}