{% extends "base.html" %}

{% block title %}Academic Term Details{% endblock %}

{% block content %}

	<h1>Academic Term Details</h1>
	
	<table>
	<tr><td>Name:</td><td>{{ term.name }}</td></tr>
	<tr><td>Start Date:</td><td>{{ term.start_date }}</td></tr>
	<tr><td>End Date:</td><td>{{ term.end_date }}</td></tr>
	</table>

	<hr>
	{% if perms.courses.term_change %}
	<a href="{% url 'term_update' pk=term.id %}">Update Term</a>
	{% endif %}
	{% if perms.courses.term_delete %}
	<a href="{% url 'term_delete' pk=term.id %}">Delete Term</a>
	{% endif %}
	<hr>
	<a href="{% url 'index' %}">Home</a> |
	<a href="{% url 'course_list' %}">View Catalog</a> |
	<a href="{% url 'term_list' %}">View Academic Terms</a>


{% endblock %}

